rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /shared_items/{id} {
      allow read: if true; // عام (يمكنك تضييقه لاحقاً)
      allow write: if request.time < timestamp.date(2025, 12, 31); // مؤقت للتجربة
    }
  }
}
